<!DOCTYPE html>
<html>
  <head>
    <title>Odd bins Wine Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-box">
      <div class="header">
        <div class="transbox">
          <h1>Odd Bins Wine Shop</h1>
          <h3><i>Fine Wine Merchants Since 1960</i></h3>
        </div>
      </div>
      <div class="display">
        
        <%= yield %>
        
      </div>
        
    </div>
  </body>
</html>
